@{
    ViewData["Title"] = "Todo list";
}

<div class="wrapper">
    <button class="show-popup-create-ticket-btn">Add</button>
    <div>
        <ol class="todo-list-container">
        </ol>
    </div>
</div>

<div class="popup-create-ticket hide">
    <div class="popup-content-container">
        <h2>Enter task</h2>
        <textarea class="text-new-ticket"></textarea>
        <button class="add-tecket-btn">Add</button>
        <button class="close-popup-btn">Cancel</button>
    </div>
</div>